.btn-icon {
    height: 70px;
    border-radius: 10px 0px 0px 10px;
    width: 380px;
    text-transform: uppercase;
}

.btn-icon-content{
    display: flex;
    width: 70px;
    height: 70px;
    background: #33569B;
    border-radius: 0px 10px 10px 0px;
    align-items: center;
    justify-content: center;
}